.results {
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px;
  width: 90%;
}

.game {
  border-radius: var(--bradius);
  background-color: #23262d;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  flex: auto;
  height: 150px;
  min-width: 90px;
  margin: 0 8px 8px 0;

  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: 100%;
}

.game * {
  margin-top: 5px;
}

.meta {
  text-transform: uppercase;
  font-size: 12px;
}

.game img {
  height: 20px;
  filter: brightness(0) invert(1);
}

.info {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info * {
  margin: 0.3em;
}

.info a:hover {
  cursor: pointer;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.progressBarWrapper {
  width: 80%;
  height: 35px;
  background-color: var(--accent-red);
  border-radius: 4px;
  overflow: hidden;
  margin-left: 10px;
}

.progressBar {
  height: 100%;
  background-color: var(--accent-green);
  border-radius: 4px 0 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  transition: width 0.3s ease;
}

.progressText {
  pointer-events: none;
  white-space: nowrap;
}

.count {
  font-size: 0.8rem;
}

.loader {
  border: 10px solid #333333;
  border-top: 8px solid #eaeaea;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.checks {
  padding: 1rem;
}

.filter > label {
  font-size: 1.4rem;
}
