.view {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: sans-serif;
  color: var(--main-font-color);
}

.view h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--accent-color);
  margin: 0;
}

.view h2 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin: 1rem 0;
}

.view h3 {
  font-size: 1rem;
  text-align: center;
  color: var(--accent-color);
  margin: 0;
}

.view .img {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.view .img img {
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

.view article {
  padding: var(--pad);
  line-height: 1.6rem;
  font-size: 1.1rem;
  border-radius: var(--border-radius);
  background-color: var(--main-bg-faint-color);
}

.proscons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 2rem;
}

.proscons > div {
  border-radius: var(--border-radius);
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pros {
  color: var(--success-color);
  background-color: var(--success-faint-color);
}

.pros h1 {
  color: var(--success-color);
}

.cons {
  color: var(--danger-color);
  background-color: var(--danger-faint-color);
}

.cons h1 {
  color: var(--danger-color);
}

.proscons h1 {
  font-size: 1.4rem;
}

.proscons li {
  font-size: 1.2rem;
}

.scores {
  margin: 1rem 0;
  padding: 2rem;
  display: flex;
  flex-direction: row;
}

.scores > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin: 2rem;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .proscons {
    gap: 0.5rem;
    padding: 0 0.2rem;
  }
}
