.wrapper {
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px;
}

[data-theme='dark'] .wrapper {
    background-color: #fff;
    color: #000;
}
  