.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.item {
    flex: auto;
    padding: .5em;
    border-radius: 3px;
    border: solid 1px #eaeaea;
    text-align: center;
    cursor: pointer;
}

.item:hover {
    background-color: #eaeaea;
}

[data-theme='dark'] .item:hover {
    background-color: #eaeaea;
    color: #333333;
  }