.wrapper {
    margin: 2em;
    border-top: 2px solid #eaeaea;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    text-align: center;
}

.wrapper * {
    margin: 0;
}

.wrapper h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tags {
    margin-top: 1em;
    text-align: center;
}

.tags * {
    margin: 1em;
}
