.results {
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    width: 90%;
}

.game {
    flex: auto;
    height: 100px;
    min-width: 50px;
    margin: 0 8px 8px 0;
    border: 2px solid #eaeaea;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.game * {
    margin-top: 5px;
}

.meta {
    text-transform: uppercase;
    font-size: 12px;
}

.info {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info * {
    margin: .3em;
}


.info a:hover {
    cursor: pointer;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}