.wrapper {
    padding-top: .5em;
    margin-bottom: 2em;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;


    text-align: center;
}

.wrapper * {
    margin: .3em;
}

.wrapper h3 {
    margin-top: 1px;
    margin-bottom: 5px;
}

.tags {
    margin-top: 0em;
    text-align: center;
}

/* this might need media query so it gets smaller on phone */
.imageWrapper {
    max-width: 400px;
    position: relative;
}

.imageWrapper img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}