.wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.reviews {
    list-style: none;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .reviews {
        flex-direction: column;
    }
}

.review {
    border: 2px solid #eaeaea;
    border-radius: 3px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5em;
}

.date {
    font-size: smaller;
    color: #333333;
}


[data-theme='dark'] .date {
    color: #CCCCCC;
}

.reviewLink {
    margin-top: 1em;
    font-size: large;
}