.content {
  flex: 1;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2em;
  margin-bottom: 2em;
  align-items: center;
  font-size: 16px;
}
