---
import TimeAgo from "../../components/common/react/TimeAgo";
import Layout from "../../layouts/Layout.astro";
import Games from "../../components/productsFilter/Games";
import { BASE_API_URL } from "../../libs/config";

let response = await fetch(`${BASE_API_URL}/provider/meta`);
const meta = await response.json();
---

<Layout title="Products">
  <main>
    <div title={new Date(meta.lastUpdated).toLocaleString()}>
      Last Update: <TimeAgo client:load dateTime={meta.lastUpdated} />
    </div>
    <div class="games">
      <Games client:load />
    </div>
  </main>
</Layout>

<style>
  main,
  .games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
