---

---
<footer>
  <span>
    made with ♥ by <a
      href="https://livellosegreto.it/@vikkio"
      target="_blank"
      rel="me">vikkio</a
    >
  </span>
</footer>

<style>
  footer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
