/** tinchi css v2.0.5 **/
/* Section: Themed Dark/Light Colours */
/* Default theme */
:root {
    --main-font-color: #000003;
    --main-font-faint-color: #2e2e2e;
    --main-bg-color: #fbfcfe;
    --main-bg-faint-color: #e8e9eb;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --main-font-color: #fbfcfe;
        --main-font-faint-color: #e8e9eb;
        --main-bg-color: #000003;
        --main-bg-faint-color: #2e2e2e;
    }
}

/* light theme */
@media (prefers-color-scheme: light) {
    :root {
        --main-font-color: #000003;
        --main-font-faint-color: #2e2e2e;
        --main-bg-color: #fbfcfe;
        --main-bg-faint-color: #e8e9eb;
    }
}
/* Section: Colours */
/* vars for the configurable colours */
:root {
    --primary-color: #94FDF8;
    --primary-v1-color: #73C2BE;
    --secondary-color: #D0F88B;
    --secondary-v1-color: #B5F44A;
    --accent-color: #646cff;
    --accent-v1-color: #4b52cc;
    --accent-faint-color: #b0b4ff;
    --danger-color: #db3a34;
    --danger-v1-color: #a12b28;
    --danger-faint-color: #f4a3a0;
    --warning-color: #ed9b40;
    --warning-v1-color: #b37932;
    --warning-faint-color: #f4cf9a;
    --success-color: #3bceac;
    --success-v1-color: #2b997e;
    --success-faint-color: #a3e3d4;
}

/* vars for the basic colours */
:root {
    --blue-color: #3b82f6;
    --blue-1-color: #1e40af;
    --blue-2-color: #93c5fd;

    --red-color: #ef4444;
    --red-1-color: #991b1b;
    --red-2-color: #fca5a5;

    --green-color: #22c55e;
    --green-1-color: #166534;
    --green-2-color: #86efac;

    --lime-color: #84cc16;
    --lime-1-color: #4d7c0f;
    --lime-2-color: #bef264;

    --light-green-color: #bbf7d0;
    --light-green-1-color: #4ade80;
    --light-green-2-color: #15803d;

    --yellow-color: #eab308;
    --yellow-1-color: #a16207;
    --yellow-2-color: #facc15;

    --orange-color: #f97316;
    --orange-1-color: #c2410c;
    --orange-2-color: #fdba74;

    --teal-color: #14b8a6;
    --teal-1-color: #0f766e;
    --teal-2-color: #5eead4;

    --amber-color: #f59e0b;
    --amber-1-color: #b45309;
    --amber-2-color: #fcd34d;

    --brown-color: #92400e;
    --brown-1-color: #78350f;
    --brown-2-color: #fcd9b6;

    --gray-color: #6b7280;
    --gray-1-color: #374151;
    --gray-2-color: #d1d5db;

    --black-color: #000000;
    --black-1-color: #0f0f0f;
    --black-2-color: #1c1c1c;

    --white-color: #ffffff;
    --white-1-color: #fefefe;
    --white-2-color: #f4f4f5;
}
/* Section: Sizes variables */
/* spacing, borders and sizes variables */
:root {
    --border-radius: .5rem;
    --input-border-radius: 10px;
    --pad: 1rem;
    --font-size: 16px;
    --small-font-size: 12px;
    --medium-font-size: 18px;

    --borders: 2px var(--main-font-color) solid;
    --borders-dashed: 2px var(--main-font-color) dashed;
    --borders-dashed-danger: 2px var(--danger-color) dashed;
    --borders-dashed-warning: 2px var(--warning-color) dashed;
    --borders-dashed-success: 2px var(--success-color) dashed;
    --thin-borders: 1px var(--main-font-color) solid;
    --box-shadow: 0 .2rem 1rem var(--main-font-color);

    line-height: 1.5;

    color: var(--main-font-color);
    background-color: var(--main-bg-color);
}

/* Section: Main body defaults overrides */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: var(--font-size);
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  color: var(--accent-v1-color);
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  all: unset;
  list-style: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
/*
  Section: Sizes
*/
/* Full viewport width */
.fvw {
  width: 100vw;
}
/* Full viewport height */
.fvh {
  height: 100vh;
}
/* 100% of the parent */
.w100 {
  width: 100%;
}

/* Section: Box Model */
/* Rounded Borders */
.brd {
  border: var(--borders);
  border-radius: var(--border-radius);
}
/* Default padding */
.pd {
  padding: var(--pad);
}

/* 2rem padding */
.pd2 {
  padding: 2rem;
}

/* Margin 0 auto */
.m0a {
  margin: 0 auto;
}
/* Margin 0 */
.mg0 {
  margin: 0;
}
/* Margin .5rem */
.mg_5 {
  margin: 0.5rem;
}
/* Margin 1rem */
.mg {
  margin: 1rem;
}
/* Margin 2rem */
.mg2 {
  margin: 2rem;
}

/* Section: Grid */
/* GridAuto: display items automatically in a grid */
.ga {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 2rem;
  padding: 0;
}

/* Section: Flex */
/* Display Flex */
.f {
  display: flex;
}
/* flex 1 */
.f1 {
  flex: 1;
}
/* flex direction column */
.c {
  flex-direction: column;
}
/* flex direction row */
.r {
  flex-direction: row;
}
/* flex direction column, justify content center, align items center */
.cc {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* flex direction row, justify content center, align items center */
.rc {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* flex direction column, justify content flex-start, align items center */
.cs {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* flex direction row, justify content flex-start, align items center */
.rs {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* flex direction column, justify content flex-end, align items center */
.ce {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
/* flex direction row, justify content flex-end, align items center */
.re {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
/* align items center */
.aic {
  align-items: center;
}
/* justify content space-around */
.spa {
  justify-content: space-around;
}
/* justify content space-between */
.spb {
  justify-content: space-between;
}

/* A set of items for lists that wrap direction row */
.fiwr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
/* A set of items for lists that wrap direction column */
.fiwc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

/* flex item: row */
.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

/* flex item: col */
.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

/* gap 0.5rem */
.g_5 {
  gap: 0.5rem;
}
/* gap 1rem */
.g {
  gap: 1rem;
}
/* gap 2rem */
.g2 {
  gap: 2rem;
}

/* Section: Font Styles */
/* text-transform capitalize */
.tt-cpz {
  text-transform: capitalize;
}
/* text-align center */
.ta-c {
  text-align: center;
}

/* Section: Typography */
h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.7rem;
}

/*  Section: Colours */
.primary {
  color: var(--primary-color);
}
.bg-primary {
  background-color: var(--primary-color);
}
.primary_1 {
  color: var(--primary-v1-color);
}
.bg-primary_1 {
  background-color: var(--primary-v1-color);
}
.secondary {
  color: var(--secondary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.secondary_1 {
  color: var(--secondary-v1-color);
}
.bg-secondary_1 {
  background-color: var(--secondary-v1-color);
}
.bg-main-bg-faint {
  background-color: var(--main-bg-faint-color);
}
.success {
  color: var(--success-color);
}
.warning {
  color: var(--warning-color);
}
.danger {
  color: var(--danger-color);
}
.faint {
  color: var(--main-bg-faint-color);
}

/** Section: Buttons */
button {
  border: var(--borders);
  border-radius: var(--border-radius);
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--main-font-color);
  font-family: inherit;
  background-color: var(--accent-v1-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--accent-color);
}

button:focus,
button:focus-visible {
  filter: brightness(90%);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* transparent button */
button.transparent {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

button.transparent:hover {
  background-color: var(--main-font-color);
  color: var(--main-bg-color);
}
/* transparent success variant */
button.success {
  background-color: var(--success-v1-color);
  color: var(--main-font-color);
}

button.success:hover {
  background-color: var(--success-color);
}
/* transparent danger variant */
button.danger {
  background-color: var(--danger-color);
  color: var(--main-font-color);
}

button.danger:hover {
  background-color: var(--danger-v1-color);
}
/* transparent warning variant */
button.warning {
  background-color: var(--warning-color);
  color: var(--main-font-color);
}

button.warning:hover {
  background-color: var(--warning-v1-color);
}

button.p {
  background-color: var(--primary-v1-color);
}

button.p:hover {
  background-color: var(--primary-color);
  color: var(--main-bg-color);
}

button.s {
  background-color: var(--secondary-color);
  color: var(--main-bg-color);
}

button.s:hover {
  background-color: var(--primary-v1-color);
  color: var(--main-bg-color);
}

/* transparent big variant */
button.big {
  padding: 2rem 3rem;
  font-size: 1.5rem;
}
/* transparent small variant */
button.small {
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
}

/* button non-button, hides styles, to make clickable items non button like */
button.n-btn {
  all: unset;
  cursor: pointer;
}

button.n-btn:hover {
  opacity: 0.8;
}

button.n-btn:disabled {
  cursor: not-allowed;
}

/* Section: Inputs */
input[type="text"] {
  padding: 1rem 0.5rem;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

input[type="radio"] {
  transform: scale(1.5);
}

meter {
  height: 2.5rem;
}

/*
Section: Utils
*/
/* overflow auto */
.oa {
  overflow: auto;
}

/* Section: Behaviours */
/* Invert main colours on hover */
.h_inv:hover {
  color: var(--main-bg-color);
  background-color: var(--main-font-color);
}
/* cursor pointer */
.c-ptr {
  cursor: pointer;
}

.n-select {
  user-select: none;
}

/** Section: Positioning **/
/* position absolute */
.pos-a {
  position: absolute;
}
/* position relative */
.pos-r {
  position: relative;
}
/* z-index 1 */
.z-idx {
  z-index: 1;
}
/* z-index 2 */
.z-idx2 {
  z-index: 2;
}
/* z-index 100 */
.z-idxmax {
  z-index: 100;
}
/* position absolut top right */
.pos-atr {
  padding: var(--pad);
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}
/* position absolut top left */
.pos-atl {
  padding: var(--pad);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
/* position absolut bottom right */
.pos-abr {
  padding: var(--pad);
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* position absolut bottom left */
.pos-abl {
  padding: var(--pad);
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}
/** Section: Custom Components **/
/* code  component */
code {
  background-color: var(--main-bg-faint-color);
  border-radius: var(--border-radius);
  padding: var(--pad);
}

/* Section: Components */
article {
  padding: var(--pad);
  border-radius: var(--border-radius);
  background-color: var(--main-bg-faint-color);
}

/* 
  Basic tooltip data-tooltip="something"
  data-tooltip-position="top" <- by default
  "bottom" "left" and "right" are also accepted
*/
[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: max-content;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1000;
}

[data-tooltip]:hover::after {
  opacity: 0.8;
}

/* Tooltip positioning - TOP (default) */
[data-tooltip]:not([data-tooltip-position])::after,
[data-tooltip][data-tooltip-position="top"]::after {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-0.5rem);
}

/* Tooltip positioning - BOTTOM */
[data-tooltip][data-tooltip-position="bottom"]::after {
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(0.5rem);
}

/* Tooltip positioning - LEFT */
[data-tooltip][data-tooltip-position="left"]::after {
  top: 50%;
  right: 100%;
  transform: translateX(-0.5rem) translateY(-50%);
}

/* Tooltip positioning - RIGHT */
[data-tooltip][data-tooltip-position="right"]::after {
  top: 50%;
  left: 100%;
  transform: translateX(0.5rem) translateY(-50%);
}

/* Table */
table {
  text-align: center;
  border-collapse: collapse;
}
th {
  border-bottom: 1px solid var(--main-font-color);
  padding: 0.5rem;
}

td {
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: var(--main-bg-faint-color);
}

tr:not(thead tr):hover {
  background-color: var(--secondary-v1-color);
  color: var(--white-1-color);
}

tr:not(thead tr):hover a {
  color: var(--white-1-color);
}
/** Section: Animations **/
/* pulse animation */
.anim_pulse {
    animation: pulse 0.5s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}
/* spin animation */
.anim_spin {
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* float animation */
.anim_float {
  animation: float 1.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0);
  }
}
/* Section: Debug Utils */
/* Debug colours an element blue borders and red bg to display its boundaries */
.debug {
  border: var(--borders);
  border-color: blue;
  background-color: red;
}
/* Debug colours an element red borders and blue bg to display its boundaries */
.debug1 {
  border: var(--borders);
  border-color: red;
  background-color: blue;
}
